USE [UngDungXemPhim_v2]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[UserID] [int] NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Token] [nvarchar](max) NULL,
 CONSTRAINT [PK__Accounts__1788CCAC263E1733] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EpisodeID] [int] NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[CommentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Episodes]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Episodes](
	[EpisodeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[EpisodeNumber] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[VideoPath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EpisodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Actors] [nvarchar](500) NULL,
	[Directors] [nvarchar](500) NULL,
	[Country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NOT NULL,
	[Birthday] [date] NULL,
	[Avatar] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchHistory]    Script Date: 13/09/2025 3:29:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EpisodeID] [int] NOT NULL,
	[WatchedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([UserID], [PasswordHash], [Token]) VALUES (1, N'lsrjXOipsCRBeL8o5JZsLOG4OFcjqWprg4hYzdbKCh4=', N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiZW1haWwiOiJIQGdtYWlsLmNvbSIsInJvbGUiOiJ1c2VyIiwiZXhwIjoxNzU3OTM3OTk2LCJpc3MiOiJsb2NhbGhvc3QiLCJhdWQiOiJsb2NhbGhvc3QifQ.KBA2gzb2LaFJsjvtLgnckrdqCUoOGlj-Wj9byHrqNHA')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [UserID], [EpisodeID], [CommentText], [Rating], [CommentDate]) VALUES (1, 1, 18, N'Xem mà buồn cười quá trời luôn', 5, CAST(N'2025-08-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Episodes] ON 

INSERT [dbo].[Episodes] ([EpisodeID], [MovieID], [EpisodeNumber], [Title], [Description], [VideoPath]) VALUES (1, 1, 1, N'Tập 1', N' Khởi bước tu tiên: Một thiếu niên phàm phu nghèo khó tình cờ có duyên bước vào con đường tu tiên, bắt đầu từ những bài học nhập môn và thử thách đầu tiên trong môn phái.', N'Phamnhan1.mp4')
INSERT [dbo].[Episodes] ([EpisodeID], [MovieID], [EpisodeNumber], [Title], [Description], [VideoPath]) VALUES (2, 1, 2, N'Tập 2', N'Bí mật trong thí luyện: Trong lần tham gia thí luyện tại sơn môn, nhân vật chính phát hiện ra những âm mưu ẩn giấu phía sau, đồng thời tìm thấy một pháp bảo kỳ lạ sẽ thay đổi vận mệnh của mình.', N'Phamnhan2.mp4')
INSERT [dbo].[Episodes] ([EpisodeID], [MovieID], [EpisodeNumber], [Title], [Description], [VideoPath]) VALUES (4, 2, 1, N'Phim', N'Một thiếu niên cùng đồng đội gia nhập Sát Quỷ Đoàn, chiến đấu chống lại bọn quỷ để bảo vệ nhân loại và tìm cách cứu em gái bị hóa quỷ.', N'Thanhguom.mp4')
SET IDENTITY_INSERT [dbo].[Episodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (1, N'Hoạt hình')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (2, N'Khoa học viễn tưởng')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (3, N'Lãng mạn')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (1, 1)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (2, 6)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (5, 2)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [ImagePath], [Type], [Actors], [Directors], [Country]) VALUES (1, N'Phàm Nhân Tu Tiên', N'"Phàm Nhân Tu Tiên" kể về Hàn Lập – một thiếu niên bình thường với xuất thân thấp kém, bước vào con đường tu tiên đầy gian nan. Trải qua vô số hiểm nguy, mưu kế và tranh đấu sinh tử, hắn kiên trì tìm kiếm con đường trường sinh. Đây là hành trình máu lửa của một phàm nhân không ngừng vươn lên chống lại thiên mệnh.', N'image2.png', N'Phim bộ', N'Hàn Lập, Triệu Linh Nhi', N'Ngô Diệc Phàm', N'Trung Quốc')
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [ImagePath], [Type], [Actors], [Directors], [Country]) VALUES (2, N'Thanh Gươm Diệt Qủy', N'“Thanh Gươm Duyệt Quỷ” là câu chuyện về một thiếu niên bình thường vô tình nhặt được thanh kiếm cổ mang sức mạnh diệt ma. Trên hành trình rèn luyện, cậu cùng đồng đội đối mặt với những quỷ vương tà ác và khám phá bí mật về nguồn gốc của chính mình', N'1.png', N'Phim lẻ', N'Takumi Fujiwara,Takeru Satoh', N'Kenji Sakamoto', N'Nhật bản')
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [ImagePath], [Type], [Actors], [Directors], [Country]) VALUES (5, N'Bóng Đêm Cuối Cùng', N'Một thanh niên tỉnh dậy trong thành phố hoang tàn. Anh phải tìm ra sự thật về thí nghiệm đã hủy diệt nơi này. Bóng tối bao trùm, chỉ có niềm tin mới soi sáng.', N'bongdem.png', N'Phim lẻ', N'Nguyễn Văn An', N'Trần Hữu Thắng', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Phone], [Email], [Birthday], [Avatar]) VALUES (1, N'Hoang1', N'0984554829', N'H@gmail.com', CAST(N'2004-08-09' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Episodes__CAB3B829B59B4845]    Script Date: 13/09/2025 3:29:36 CH ******/
ALTER TABLE [dbo].[Episodes] ADD UNIQUE NONCLUSTERED 
(
	[MovieID] ASC,
	[EpisodeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342FA224E4]    Script Date: 13/09/2025 3:29:36 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[WatchHistory] ADD  DEFAULT (getdate()) FOR [WatchedDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH NOCHECK ADD  CONSTRAINT [FK__Accounts__UserID__48CFD27E] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK__Accounts__UserID__48CFD27E]
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD FOREIGN KEY([EpisodeID])
REFERENCES [dbo].[Episodes] ([EpisodeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Episodes]  WITH NOCHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenres]  WITH NOCHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenres]  WITH NOCHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchHistory]  WITH NOCHECK ADD FOREIGN KEY([EpisodeID])
REFERENCES [dbo].[Episodes] ([EpisodeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchHistory]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchHistory]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[WatchHistory]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD CHECK  (([Type]=N'Phim lẻ' OR [Type]=N'Phim bộ'))
GO
